<!-- <footer id="footer" class="p-5">
  <div class="container m-4">
    <div class="row justify-content-center align-items-center g-2">
      <div class="col-md-4">
        <div class="px-4 text-center justify-content-center align-items-center flex text-white">
         
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
         
        </div>
      </div>
      <div class="col-md-4">
        <div class=" text-center">
          
        </div>
      </div>
    </div>

  </div>
</footer>
<section class="text-center ">
  <p class="text-white mb-0">
  Copyright © Your Website 2024</p></section> -->



<footer id="footer" class="p-5">
  <div class="container mx-auto card-group footer p-4">
    <div class="card border-0">
      <div class="card-body text-center text-white">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="card text-white card border-0">
      <div class="card-body">
        <h3 class="text-white text-center">AROUND THE WEB</h3>
        <div class="icons flex-center-center gap-2">
          <div class="icon flex-center-center text-white"><i class="fa-brands fa-facebook"></i></div>
          <div class="icon flex-center-center text-white"><i class="fa-brands fa-twitter"></i></div>
          <div class="icon flex-center-center text-white"><i class="fa-brands fa-linkedin"></i></div>
          <div class="icon flex-center-center text-white"><i class="fa-solid fa-globe"></i></div>
        </div>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body text-center ">
        <h3 class="text-white"> ABOUT FREELANCER</h3>
        <p class="text-white mb-0"> Freelance is a free to use, licensed Bootstrap
          theme created by
          Route </p>
      </div>
    </div>
  </div>
  
</footer>
<div class="end-footer">
  <p class="text-white text-center">Copyright © Your Website 2021</p>
</div>
