<section class="about mt-5">
  <div class="container ">
    <div class="row h-100 align-items-center justify-content-center gap-2">
      <div class="content">
        <h2 class="text-center text-white fs-1 mb-3 fw-bolder text-uppercase">about component</h2>
        <div class="lines flex-center-center mb-3">

          <span class="line me-3"></span>
          <span><i class="fa-solid fa-star"></i></span>
          <span class="line ms-3"></span>

        </div>
        <div class="row justify-content-center align-items-center px-5">
          <div class="col-md-6 ps-md-5">
            <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the
              complete source files
              including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
          <div class="col-md-6 pe-md-5">
            <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the
              complete source files
              including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
