<div class="contact mt-5">
  <div class="container col-6 mx-auto">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="title pt-2">
        <h2 class="text-center text-uppercase fw-bolder fs-1 mb-3">conatct section</h2>
        <div class="lines flex-center-center mb-3">

          <span class="line me-3"></span>
          <span><i class="fa-solid fa-star"></i></span>
          <span class="line ms-3"></span>

        </div>
      </div>
      <div class="content p-3 mb-5">

        <div class="form">
          <div class="form-floating mb-4 shadow-sm">
            <input type="text" class="form-control" id="floatingNameInput" placeholder="  Name">
            <label for="floatingNameInput"> Name</label>
          </div>
          <div class="form-floating mb-4 shadow-sm">
            <input type="text" class="form-control" id="floatingAgeInput" placeholder="  Age">
            <label for="floatingAgeInput"> Age</label>
          </div>
          <div class="form-floating mb-4 shadow-sm">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating shadow-sm">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="btn mt-4">Send Message</button>
        </div>
      </div>
    </div>

  </div>

</div>
