.portfolio{
  position: relative;
}
.portfolio .container h2 {
  color: var(--second-color);
  margin-top: 50px;
}
.top-layer
{
  z-index: 3000 !important;

}
.lines span {
  color: var(--second-color);
}

.lines .line {
  background-color: var(--second-color);
  display: block;
  height: 4px;
  width: 80px;
}

.my-card {
  position: relative;
  cursor: pointer;
}

.my-card:hover .inner-layer {
  opacity: 0.9;
}

.my-card .inner-layer {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.6s;
  background-color: #1abc9ce6;
}