<section class="mt-5 flex-center-center">
  <div class="container flex-center-center text-center">
    <img src="./assets/images/avataaars.svg" class="mb-3" alt="avatar" />
    <div class="w-100 text-center pt-4 mb-3">
    <h2 class="text-white w-100 fs-1 fw-bolder">START FRAMEWORK</h2>
      <div class="lines flex-center-center">

      <span class="line me-3"></span>
      <span><i class="fa-solid fa-star"></i></span>
      <span class="line ms-3"></span>

     </div>
    </div>
    <div class="w-100 text-white">
      Graphic Artist - Web Designer - Illustrator
    </div>
  </div>
</section>
